<!-- <div class="widget">widget!</div> -->
<html>
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet"
  />
  <head> </head>

  <body>
    <div class="widget">
      <div class="indentation">
        <h2 class="head">Long-Term Goals</h2>
        <div class="group">
          <div class="line"></div>
          <div class="combo">
            <ul class="textlist">
              <h3 class="subHead">1 Year</h3>
              <p class="text">Secure SWE or UX</p>
              <p class="text">Engineering Internship</p>
            </ul>
          </div>
        </div>

        <div class="group">
          <div class="line2"></div>
          <div class="combo">
            <ul class="textlist">
              <h3 class="subHead">5 Year</h3>
              <p class="text">SWE with</p>
              <p class="text">UX/Design/Animation</p>
              <p class="text">oriented work</p>
            </ul>
          </div>
        </div>

        <img
          class="pencil" src="https://i.postimg.cc/gjRHXsHC/Screenshot-2024-01-05-at-3-03-58-AM.png" (click)="clickable()" 
          />
        <p class="click_message">{{ click_message }}</p>
      </div>
    </div>
  </body>
</html>
